In [1]:
# -*- coding: utf-8 -*-
'''
TopQuant-简称TQ极宽智能量化回溯分析系统，培训课件-配套教学python课件程序

Top极宽量化(原zw量化)，Python量化第一品牌 
by Top极宽·量化开源团队 2017.10.1 首发

网站： www.TopQuant.vip      www.ziwang.com
QQ群: Top极宽量化1群，124134140
      Top极宽量化2群，650924099
      Top极宽量化3群，450853713
  
'''

import os
import numpy as np
import pandas as pd
import tushare as ts

#  TopQuant
import zsys 
import ztools_datadown as zddown
import ztools_draw as zdr

#----------

#1 设置参数，数据目录
#rs0=zsys.rdatMin0+'M05/'
rs0=zsys.rdatMin0
print('rs0:',rs0)
#
# down_stk010分时数据参数
xtyp='5'
xss=xtyp
if len(xtyp)==1:xss='0'+xss
rss=rs0+'M'+xss+'/'
print('rss#1:',rss)
#
rss='tmp/'
print('rss#2:',rss)
#
#2 设置股票代码，下载数据
code='603315'
# before
# df,fss=zddown.down_stk010(rss,code,xtyp)
df=zddown.down_stk010(rss,code,xtyp)
df=df.sort_values(['date'],ascending=True);
# before
# print('\nfss,',fss)
print('\ndf')
print(df.tail())



#3 绘制K线图
print('\ndf2x.tail()')
df.index=df['date']
df2=df.tail(60)
hdr,fpic='k线图·分时数据-'+code,'tmp/tmp_.html'
print('\nfpic,',fpic)
print('\ndf2')
print(df2.tail())
zdr.drDF_cdl(df2,ftg=fpic,m_title=hdr)

rs0: zDat/min/
rss#1: zDat/min/M05/
rss#2: tmp/
	 True tmp/603315.csv , 2020-10-19
本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

df
                 date   open   high    low  close  volume
475  2020-10-21 14:40  12.08  12.11  12.08  12.10   103.0
476  2020-10-21 14:45  12.10  12.11  12.10  12.10    75.0
477  2020-10-21 14:50  12.10  12.13  12.09  12.12   270.0
478  2020-10-21 14:55  12.12  12.13  12.09  12.11   153.0
479  2020-10-21 15:00  12.11  12.12  12.10  12.12   303.0

df2x.tail()

fpic, tmp/tmp_.html

df2
                              date   open   high    low  close  volume
date
2020-10-21 14:40  2020-10-21 14:40  12.08  12.11  12.08  12.10   103.0
2020-10-21 14:45  2020-10-21 14:45  12.10  12.11  12.10  12.10    75.0
2020-10-21 14:50  2020-10-21 14:50  12.10  12.13  12.09  12.12   270.0
2020-10-21 14:55  2020-10-21 14:55  12.12  12.13  12.09  12.11   153.0
2020-10-21 15:00  2020-10-21 15:00  12.11  12.12  12.10  12.12   303.0

In [3]:
print(len(df))
df.head()

1735

                  date    open    high     low   close  volume
date
2015-04-24  2015-04-24   7.683   7.683   7.683   7.683   305.0
2015-04-27  2015-04-27   8.451   8.451   8.451   8.451    91.0
2015-04-28  2015-04-28   9.298   9.298   9.298   9.298   103.0
2015-04-29  2015-04-29  10.229  10.229  10.229  10.229   126.0
2015-04-30  2015-04-30  11.255  11.255  11.255  11.255   369.0